<% provide(:title, 'About Us') %>
<section>
   <h3>
   	Icon set brought to you by:
   </h3>
   <pre class="alert alert-info">
      <h2 class="icon-info-sign"> Font Awesome by Dave Gandy - <a href="http://fontawesome.io">http://fontawesome.io</a> </h2>
   </pre>
</section>