<% provide(:title, 'Contact') %>

<section>
	<h1> <%= link_to "Contact McGill OSD", "http://www.mcgill.ca/osd/contact", class: "cus-mail-alt text-error" %> 
      about EZ Notes! 
   </h1>
</section>
