<% provide(:title, 'Notetaker Application 5') %>
<h2> Thank you for your application!</h2>
<div class="alert alert-info">
	<p>
		If your notes are of an acceptable quality, and you are matched with a student
		who requires notes we will send you a confirmation email.
	</p>
	<p>
		You will then need to come into the Office for Students with Disabilities to fill
		out paper work for payment.
	</p>
</div>


<div class="progress progress-striped active">
	<div class="bar" style="width: 100%"></div>
</div>