<% provide(:title, 'Notetaker Application') %>
<pre class="alert alert-info">
	Thank you for your interest in being a notetaker with the OSD.

	We Will need you to fill in some basic contact information, your course schedule,
	and upload a sample of your notes.

	Please note, if you hand write your notes, you will need a scanned copy of them.

	If your notes are of an acceptable quality, and you are matched with a student
	who requires notes we will send you a confirmation email.

	You will then need to come into the Office for Students with Disabilities to fill
	out paper work for payment.
</pre>
<ul class="pager">
	<li class="previous"> 
		<%= link_to "Previous", root_path, class: "cus-right" %> 
	</li>
	<li class="next">
		<%= link_to "Next", signup2_path, class: "cus-left" %>
	</li>
</ul>
<div class="progress progress-striped active">
	<div class="bar" style="width: 20%"></div>
</div>