<% provide(:title, 'Password Reset') %>

<section class="well span8 offset6">
   <%= form_tag password_resets_path, method: :post do %>
      <legend>Reset Password</legend>
      <fieldset class="control-group">
         <%= label_tag :email, nil, class: "cus-mail-alt" %>
         <p class="controls">
            <%= email_field_tag :email, params[:email], autofocus: true, required: true, 
                  :'data-validation-email-message' => "Please enter a valid email", 
                  :'data-validation-regex-regex' => "^[a-zA-Z0-9\-]+\\.([a-zA-Z0-9]+\\.)?[a-zA-Z0-9\-]+(@mail.mcgill.ca|@mcgill.ca)$", 
                  :'data-validation-regex-message' => "Must be of the form 
                  firstname.lastname@mail.mcgill.ca or firstname.lastname@mcgill.ca", class: "emailReset input-xlarge" %>
         </p>
      </fieldset>
      <fieldset>
         <%= button_tag type: 'submit', class: "cus-lock-open-alt btn btn-large btn-inverse" do %>
            Reset Password
         <% end %>
      </fieldset>
   <% end %>
</section>
