@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63172699');
  src: url('../font/fontello.eot?63172699#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?63172699') format('woff'),
       url('../font/fontello.ttf?63172699') format('truetype'),
       url('../font/fontello.svg?63172699#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63172699#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e811'; } /* '' */
.icon-left-big:before { content: '\e873'; } /* '' */
.icon-up-big:before { content: '\e875'; } /* '' */
.icon-right-big:before { content: '\e874'; } /* '' */
.icon-down-big:before { content: '\e872'; } /* '' */
.icon-home:before { content: '\e81a'; } /* '' */
.icon-up-dir:before { content: '\e85b'; } /* '' */
.icon-play:before { content: '\e884'; } /* '' */
.icon-right-dir:before { content: '\e85d'; } /* '' */
.icon-down-dir:before { content: '\e85a'; } /* '' */
.icon-left-dir:before { content: '\e85c'; } /* '' */
.icon-check:before { content: '\e88a'; } /* '' */
.icon-cog:before { content: '\e84a'; } /* '' */
.icon-attention:before { content: '\e83e'; } /* '' */
.icon-cog-alt:before { content: '\e84b'; } /* '' */
.icon-scissors:before { content: '\e887'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e836'; } /* '' */
.icon-pencil:before { content: '\e834'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e83f'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e812'; } /* '' */
.icon-forward:before { content: '\e831'; } /* '' */
.icon-ccw:before { content: '\e87b'; } /* '' */
.icon-cw:before { content: '\e87a'; } /* '' */
.icon-resize-vertical:before { content: '\e853'; } /* '' */
.icon-resize-horizontal:before { content: '\e854'; } /* '' */
.icon-ok-circled2:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e817'; } /* '' */
.icon-info-circled:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e823'; } /* '' */
.icon-eye-off:before { content: '\e824'; } /* '' */
.icon-tag:before { content: '\e825'; } /* '' */
.icon-tags:before { content: '\e826'; } /* '' */
.icon-export:before { content: '\e832'; } /* '' */
.icon-print:before { content: '\e837'; } /* '' */
.icon-retweet:before { content: '\e838'; } /* '' */
.icon-comment:before { content: '\e839'; } /* '' */
.icon-chat:before { content: '\e83a'; } /* '' */
.icon-trash:before { content: '\e840'; } /* '' */
.icon-login:before { content: '\e84d'; } /* '' */
.icon-logout:before { content: '\e84e'; } /* '' */
.icon-resize-full:before { content: '\e850'; } /* '' */
.icon-resize-small:before { content: '\e852'; } /* '' */
.icon-zoom-in:before { content: '\e856'; } /* '' */
.icon-zoom-out:before { content: '\e857'; } /* '' */
.icon-down-circled2:before { content: '\e858'; } /* '' */
.icon-up-circled2:before { content: '\e859'; } /* '' */
.icon-down-open:before { content: '\e85e'; } /* '' */
.icon-left-open:before { content: '\e85f'; } /* '' */
.icon-right-open:before { content: '\e860'; } /* '' */
.icon-up-open:before { content: '\e861'; } /* '' */
.icon-arrows-cw:before { content: '\e87c'; } /* '' */
.icon-play-circled2:before { content: '\e886'; } /* '' */
.icon-off:before { content: '\e889'; } /* '' */
.icon-move:before { content: '\e855'; } /* '' */
.icon-check-empty:before { content: '\e88b'; } /* '' */
.icon-hdd:before { content: '\e88e'; } /* '' */
.icon-left-circled:before { content: '\e876'; } /* '' */
.icon-right-circled:before { content: '\e877'; } /* '' */
.icon-up-circled:before { content: '\e878'; } /* '' */
.icon-down-circled:before { content: '\e879'; } /* '' */
.icon-resize-full-alt:before { content: '\e851'; } /* '' */
.icon-docs:before { content: '\e842'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-comment-empty:before { content: '\e83b'; } /* '' */
.icon-chat-empty:before { content: '\e83c'; } /* '' */
.icon-paste:before { content: '\e888'; } /* '' */
.icon-exchange:before { content: '\e880'; } /* '' */
.icon-download-cloud:before { content: '\e82d'; } /* '' */
.icon-upload-cloud:before { content: '\e82e'; } /* '' */
.icon-doc-text:before { content: '\e843'; } /* '' */
.icon-plus-squared:before { content: '\e80f'; } /* '' */
.icon-angle-double-left:before { content: '\e86a'; } /* '' */
.icon-angle-double-right:before { content: '\e86b'; } /* '' */
.icon-angle-double-up:before { content: '\e86c'; } /* '' */
.icon-angle-double-down:before { content: '\e86d'; } /* '' */
.icon-angle-left:before { content: '\e862'; } /* '' */
.icon-angle-right:before { content: '\e863'; } /* '' */
.icon-angle-up:before { content: '\e864'; } /* '' */
.icon-angle-down:before { content: '\e865'; } /* '' */
.icon-reply:before { content: '\e82f'; } /* '' */
.icon-folder-empty:before { content: '\e848'; } /* '' */
.icon-folder-open-empty:before { content: '\e849'; } /* '' */
.icon-plus-squared-small:before { content: '\e810'; } /* '' */
.icon-minus-squared-small:before { content: '\e815'; } /* '' */
.icon-reply-all:before { content: '\e830'; } /* '' */
.icon-unlink:before { content: '\e81c'; } /* '' */
.icon-help:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e819'; } /* '' */
.icon-attention-alt:before { content: '\e83d'; } /* '' */
.icon-angle-circled-left:before { content: '\e866'; } /* '' */
.icon-angle-circled-right:before { content: '\e867'; } /* '' */
.icon-angle-circled-up:before { content: '\e868'; } /* '' */
.icon-angle-circled-down:before { content: '\e869'; } /* '' */
.icon-lock-open-alt:before { content: '\e821'; } /* '' */
.icon-play-circled:before { content: '\e885'; } /* '' */
.icon-minus-squared:before { content: '\e813'; } /* '' */
.icon-minus-squared-alt:before { content: '\e814'; } /* '' */
.icon-level-up:before { content: '\e87d'; } /* '' */
.icon-level-down:before { content: '\e87e'; } /* '' */
.icon-ok-squared:before { content: '\e809'; } /* '' */
.icon-pencil-squared:before { content: '\e835'; } /* '' */
.icon-link-ext-alt:before { content: '\e81d'; } /* '' */
.icon-export-alt:before { content: '\e833'; } /* '' */
.icon-collapse:before { content: '\e87f'; } /* '' */
.icon-collapse-top:before { content: '\e882'; } /* '' */
.icon-expand:before { content: '\e883'; } /* '' */
.icon-doc-inv:before { content: '\e844'; } /* '' */
.icon-doc-text-inv:before { content: '\e845'; } /* '' */
.icon-sort-name-up:before { content: '\e891'; } /* '' */
.icon-sort-name-down:before { content: '\e892'; } /* '' */
.icon-sort-alt-up:before { content: '\e890'; } /* '' */
.icon-sort-alt-down:before { content: '\e88f'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e829'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e82a'; } /* '' */
.icon-down:before { content: '\e86e'; } /* '' */
.icon-up:before { content: '\e871'; } /* '' */
.icon-right:before { content: '\e870'; } /* '' */
.icon-left:before { content: '\e86f'; } /* '' */
.icon-foursquare:before { content: '\e893'; } /* '' */
.icon-male:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e827'; } /* '' */
.icon-thumbs-down:before { content: '\e828'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-credit-card:before { content: '\e88d'; } /* '' */
.icon-floppy:before { content: '\e88c'; } /* '' */
.icon-folder:before { content: '\e846'; } /* '' */
.icon-folder-open:before { content: '\e847'; } /* '' */
.icon-doc:before { content: '\e841'; } /* '' */
.icon-pin:before { content: '\e822'; } /* '' */
.icon-attach:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e82c'; } /* '' */
.icon-download:before { content: '\e82b'; } /* '' */
.icon-shuffle:before { content: '\e881'; } /* '' */
.icon-lock:before { content: '\e81f'; } /* '' */
.icon-lock-open:before { content: '\e820'; } /* '' */
.icon-link:before { content: '\e81b'; } /* '' */
.icon-wrench:before { content: '\e84c'; } /* '' */
.icon-block:before { content: '\e84f'; } /* '' */