<li>
   (
   <% if user.note_taker? %>
      <strong class="text-success"><i class="cus-pencil"></i> NoteTaker</strong>
   <% elsif user.admin? %>
      <strong class="text-error"><i class="cus-cog-alt"></i> Admin</strong>
   <% else %>
      <strong class="text-warning"><i class="cus-user"></i> NoteUser</strong>
   <% end %>)
	<%= user.student_id %>
	<strong><%= link_to user.name, edit_user_path(user) %></strong>
	<%= user.email %>
   
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to "delete", user, method: :delete,
									  data: { confirm: "delete user #{user.student_id} #{user.name}" }, 
                             class: "cus-trash delete" %>
	<% end %>
</li>