<% provide(:title, 'All users') %>
<h1>All users</h1>
<form class="form-search">
   <label for="filter" class="cus-users">Filter</label>
   <input type="text" name="filter" value="" id="user_filter" class="input-large search-query" />
</form>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>