<h3> Register courses you are enrolled in </h3>
<%= form_for current_user, url: registrations_path, method: :post do |f| %>

   <p> 
      <%= f.label :course_tokens, "Search", class: "cus-help registerCourses" %>
      <%= f.text_field :course_tokens %> 
   </p>
   <p>     
      <%= button_tag type: 'submit', class: "btn btn-medium btn-primary" do %>
      <i class="cus-link"></i> Register
      <% end %>
   </p>
<% end %>

