<table cellpadding="1" cellspacing="1" id="matchingTable" class="table table-bordered table-hover">
   <caption class="alert alert-info"> 
      <h2> For every course that has registered users, display the registered noteusers and the registered notetakers. </h2>
      <h2> Also display the notetaker assigned to the course. </h2>
   </caption>
   <thead>
      <tr>
         <th class="sortable cus-sort-name-up sorted-asc">Term</th>
         <th class="sortable cus-sort-name-up sorted-asc">Course</th>
         <th class="sortable cus-sort-name-up sorted-asc">Registered NoteUsers</th>
         <th class="sortable cus-sort-name-up sorted-asc">Registered NoteTakers</th>
         <th class="sortable cus-sort-name-up sorted-asc">Assigned NoteTaker</th>
      </tr>
   </thead>
   <tbody>
      <%= render partial: 'shared/registered_course', collection: @registered_courses %>
   </tbody>
</table>