<section>
   <p> 
      <strong class="icon-download-alt icon-large"> Download: 
      <%= link_to "CSV", courses_path(format: "csv") %> </strong>
   </p>
</section>
<table cellpadding="1" cellspacing="1" id="matchingTable" class="table table-bordered table-hover">
   <caption class="alert alert-info"> 
      <h2> For every course that has registered users, display the registered noteusers and the registered notetakers. </h2>
      <h2> Also display the notetaker assigned to the course. </h2>
   </caption>
   <thead>
      <tr>
         <th class="sortable icon-sort-by-alphabet sorted-asc span2"> Term</th>
         <th class="sortable icon-sort-by-alphabet sorted-asc span3"> Course</th>
         <th class="sortable icon-sort-by-alphabet sorted-asc span4"> Registered NoteUsers</th>
         <th class="sortable icon-sort-by-alphabet sorted-asc span4"> Registered NoteTakers</th>
         <th class="sortable icon-sort-by-alphabet sorted-asc span3"> Assigned NoteTaker</th>
      </tr>
   </thead>
   <tbody>
      <%= render partial: 'shared/registered_course', collection: @registered_courses %>
   </tbody>
</table>