<% @user = current_user %>

<div class="span3" id="Fall">
   <h4>FALL</h4>
   <%= render partial: 'shared/course_feed_item', collection: @fall_course_feed_items %>
</div>
<div class="span3 offset1" id="Winter">
   <h4>WINTER</h4>
   <%= render partial: 'shared/course_feed_item', collection: @winter_course_feed_items %>
</div>
<div class="span3 offset1" id="Summer">
   <h4>SUMMER</h4>
   <%= render partial: 'shared/course_feed_item', collection: @summer_course_feed_items %>
</div>

