<article class="center hero-unit">
   <section class="intro">
      <h1>Welcome to McGill OSD EZNotes</h1>   
      <h2 class="text-error"> The online service for uploading and accessing your course notes. </h2>
   
      <p class="alert span6 offset6 alert-danger"> 
         Please register with the new <strong>2013</strong> system!
      </p>  
      <p class="alert span6 offset6 alert-info">This site works best in Chrome web browser </p>
   </section>
   

   <section class="signupLinks">
      <%= link_to signup_notetaker_path, class: "cus-pencil btn btn-large btn-danger" do %>
         Register as a <em> NoteTaker </em>
      <% end %>   
      <%= link_to signup_noteuser_path, class: "cus-user btn btn-large btn-inverse" do %>
         Register as a <em> NoteUser </em>
      <% end %>
   </section>
         
</article>