<div class="center hero-unit">
   <h1>Welcome to McGill OSD</h1>   
   <h1>EZ Notes</h1>
   <div class="alert alert-danger"> 
   Please register with the new <strong>2013</strong> system!
   </div>
   <div class="alert alert-info">This site works best in chrome web browser </div>
   <h2 class="text-info"> The online service for uploading and accessing your course notes. </h2>

   <div class="btn-group">
   <%= link_to(signup_path, class: "btn btn-large btn-warning cus-pencil") do %>
            Register as a <span class="register"> NoteTaker </span>
   <% end %>
   <%= link_to(signup_path, class: "btn btn-large btn-success cus-user") do %>
            Register as a <span class="register"> NoteUser </span>
   <% end %>
   </div>
         
</div>