<%= form_tag({controller: "courses", action: "index"}, method: 'get') do %>
   <div><%= hidden_field_tag :term, "Summer" %></div>
   <%= submit_tag "Summer", class: "btn btn-large btn-link" %>
<% end %>