<% provide(:title, 'Course Import') %>
<article class="row-fluid">
   <h1 class="center">Course Import</h1>
   <section class="alert alert-block alert-info span8 offset2">
      <header>
         A CSV can be used to import records. You can download the courses CSV files from Mcgill <a href="https://horizon.mcgill.ca/pban1/bwckschd.p_disp_dyn_sched" target="_blank" class="text-error"> Minvera schedule</a>. Just select the term you are interested and click submit. On the next page choose the faculty and click Get Course Sections. Or better yet select all the subjects using shift click and click get course sections that should give you all the course sections in one shot. Finally if there any results scroll to the bottom and click Download Results.
      </header>

      <p>
         The following columns are allowed.
         <ul>
           <% Course.columns.each do |column| %>
             <% if column.name.in? ["crn", "course_title", "subject_code", "course_num", "term", "section"] %>
               <li>
                 <strong><%= column.name %></strong> -
                 <%= column.type.to_s.titleize %> type
               </li>
             <% end %>
           <% end %>
         </ul>
      </p>

      <p>
         If a <strong>CRN</strong> is supplied in the file (which if downloaded from mcgill that should be the case) it will update the matching record instead of creating a new one.
      </p>
   </section>

   <section class="well span4 offset4">
      <%= render @course_import %>
   </section>
</article>
