@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?63172699');
  src: url('fontello.eot?63172699#iefix') format('embedded-opentype'),
       url('fontello.woff?63172699') format('woff'),
       url('fontello.ttf?63172699') format('truetype'),
       url('fontello.svg?63172699#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63172699#fontello') format('svg');
  }
}
*/
 
 [class^="cus-"]:before, [class*=" cus-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 120%; 
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cus-plus:before { content: '\e80d'; } /* '' */
.cus-minus:before { content: '\e811'; } /* '' */
.cus-left-big:before { content: '\e873'; } /* '' */
.cus-up-big:before { content: '\e875'; } /* '' */
.cus-right-big:before { content: '\e874'; } /* '' */
.cus-down-big:before { content: '\e872'; } /* '' */
.cus-home:before { content: '\e81a'; } /* '' */
.cus-up-dir:before { content: '\e85b'; } /* '' */
.cus-play:before { content: '\e884'; } /* '' */
.cus-right-dir:before { content: '\e85d'; } /* '' */
.cus-down-dir:before { content: '\e85a'; } /* '' */
.cus-left-dir:before { content: '\e85c'; } /* '' */
.cus-check:before { content: '\e88a'; } /* '' */
.cus-cog:before { content: '\e84a'; } /* '' */
.cus-attention:before { content: '\e83e'; } /* '' */
.cus-cog-alt:before { content: '\e84b'; } /* '' */
.cus-scissors:before { content: '\e887'; } /* '' */
.cus-mail:before { content: '\e800'; } /* '' */
.cus-edit:before { content: '\e836'; } /* '' */
.cus-pencil:before { content: '\e834'; } /* '' */
.cus-ok:before { content: '\e806'; } /* '' */
.cus-ok-circled:before { content: '\e807'; } /* '' */
.cus-cancel:before { content: '\e80a'; } /* '' */
.cus-cancel-circled:before { content: '\e80b'; } /* '' */
.cus-attention-circled:before { content: '\e83f'; } /* '' */
.cus-plus-circled:before { content: '\e80e'; } /* '' */
.cus-minus-circled:before { content: '\e812'; } /* '' */
.cus-forward:before { content: '\e831'; } /* '' */
.cus-ccw:before { content: '\e87b'; } /* '' */
.cus-cw:before { content: '\e87a'; } /* '' */
.cus-resize-vertical:before { content: '\e853'; } /* '' */
.cus-resize-horizontal:before { content: '\e854'; } /* '' */
.cus-ok-circled2:before { content: '\e808'; } /* '' */
.cus-cancel-circled2:before { content: '\e80c'; } /* '' */
.cus-help-circled:before { content: '\e817'; } /* '' */
.cus-info-circled:before { content: '\e818'; } /* '' */
.cus-eye:before { content: '\e823'; } /* '' */
.cus-eye-off:before { content: '\e824'; } /* '' */
.cus-tag:before { content: '\e825'; } /* '' */
.cus-tags:before { content: '\e826'; } /* '' */
.cus-export:before { content: '\e832'; } /* '' */
.cus-print:before { content: '\e837'; } /* '' */
.cus-retweet:before { content: '\e838'; } /* '' */
.cus-comment:before { content: '\e839'; } /* '' */
.cus-chat:before { content: '\e83a'; } /* '' */
.cus-trash:before { content: '\e840'; } /* '' */
.cus-login:before { content: '\e84d'; } /* '' */
.cus-logout:before { content: '\e84e'; } /* '' */
.cus-resize-full:before { content: '\e850'; } /* '' */
.cus-resize-small:before { content: '\e852'; } /* '' */
.cus-zoom-in:before { content: '\e856'; } /* '' */
.cus-zoom-out:before { content: '\e857'; } /* '' */
.cus-down-circled2:before { content: '\e858'; } /* '' */
.cus-up-circled2:before { content: '\e859'; } /* '' */
.cus-down-open:before { content: '\e85e'; } /* '' */
.cus-left-open:before { content: '\e85f'; } /* '' */
.cus-right-open:before { content: '\e860'; } /* '' */
.cus-up-open:before { content: '\e861'; } /* '' */
.cus-arrows-cw:before { content: '\e87c'; } /* '' */
.cus-play-circled2:before { content: '\e886'; } /* '' */
.cus-off:before { content: '\e889'; } /* '' */
.cus-move:before { content: '\e855'; } /* '' */
.cus-check-empty:before { content: '\e88b'; } /* '' */
.cus-hdd:before { content: '\e88e'; } /* '' */
.cus-left-circled:before { content: '\e876'; } /* '' */
.cus-right-circled:before { content: '\e877'; } /* '' */
.cus-up-circled:before { content: '\e878'; } /* '' */
.cus-down-circled:before { content: '\e879'; } /* '' */
.cus-resize-full-alt:before { content: '\e851'; } /* '' */
.cus-docs:before { content: '\e842'; } /* '' */
.cus-mail-alt:before { content: '\e802'; } /* '' */
.cus-comment-empty:before { content: '\e83b'; } /* '' */
.cus-chat-empty:before { content: '\e83c'; } /* '' */
.cus-paste:before { content: '\e888'; } /* '' */
.cus-exchange:before { content: '\e880'; } /* '' */
.cus-download-cloud:before { content: '\e82d'; } /* '' */
.cus-upload-cloud:before { content: '\e82e'; } /* '' */
.cus-doc-text:before { content: '\e843'; } /* '' */
.cus-plus-squared:before { content: '\e80f'; } /* '' */
.cus-angle-double-left:before { content: '\e86a'; } /* '' */
.cus-angle-double-right:before { content: '\e86b'; } /* '' */
.cus-angle-double-up:before { content: '\e86c'; } /* '' */
.cus-angle-double-down:before { content: '\e86d'; } /* '' */
.cus-angle-left:before { content: '\e862'; } /* '' */
.cus-angle-right:before { content: '\e863'; } /* '' */
.cus-angle-up:before { content: '\e864'; } /* '' */
.cus-angle-down:before { content: '\e865'; } /* '' */
.cus-reply:before { content: '\e82f'; } /* '' */
.cus-folder-empty:before { content: '\e848'; } /* '' */
.cus-folder-open-empty:before { content: '\e849'; } /* '' */
.cus-plus-squared-small:before { content: '\e810'; } /* '' */
.cus-minus-squared-small:before { content: '\e815'; } /* '' */
.cus-reply-all:before { content: '\e830'; } /* '' */
.cus-unlink:before { content: '\e81c'; } /* '' */
.cus-help:before { content: '\e816'; } /* '' */
.cus-info:before { content: '\e819'; } /* '' */
.cus-attention-alt:before { content: '\e83d'; } /* '' */
.cus-angle-circled-left:before { content: '\e866'; } /* '' */
.cus-angle-circled-right:before { content: '\e867'; } /* '' */
.cus-angle-circled-up:before { content: '\e868'; } /* '' */
.cus-angle-circled-down:before { content: '\e869'; } /* '' */
.cus-lock-open-alt:before { content: '\e821'; } /* '' */
.cus-play-circled:before { content: '\e885'; } /* '' */
.cus-minus-squared:before { content: '\e813'; } /* '' */
.cus-minus-squared-alt:before { content: '\e814'; } /* '' */
.cus-level-up:before { content: '\e87d'; } /* '' */
.cus-level-down:before { content: '\e87e'; } /* '' */
.cus-ok-squared:before { content: '\e809'; } /* '' */
.cus-pencil-squared:before { content: '\e835'; } /* '' */
.cus-link-ext-alt:before { content: '\e81d'; } /* '' */
.cus-export-alt:before { content: '\e833'; } /* '' */
.cus-collapse:before { content: '\e87f'; } /* '' */
.cus-collapse-top:before { content: '\e882'; } /* '' */
.cus-expand:before { content: '\e883'; } /* '' */
.cus-doc-inv:before { content: '\e844'; } /* '' */
.cus-doc-text-inv:before { content: '\e845'; } /* '' */
.cus-sort-name-up:before { content: '\e891'; } /* '' */
.cus-sort-name-down:before { content: '\e892'; } /* '' */
.cus-sort-alt-up:before { content: '\e890'; } /* '' */
.cus-sort-alt-down:before { content: '\e88f'; } /* '' */
.cus-thumbs-up-alt:before { content: '\e829'; } /* '' */
.cus-thumbs-down-alt:before { content: '\e82a'; } /* '' */
.cus-down:before { content: '\e86e'; } /* '' */
.cus-up:before { content: '\e871'; } /* '' */
.cus-right:before { content: '\e870'; } /* '' */
.cus-left:before { content: '\e86f'; } /* '' */
.cus-foursquare:before { content: '\e893'; } /* '' */
.cus-male:before { content: '\e805'; } /* '' */
.cus-thumbs-up:before { content: '\e827'; } /* '' */
.cus-thumbs-down:before { content: '\e828'; } /* '' */
.cus-user:before { content: '\e803'; } /* '' */
.cus-users:before { content: '\e804'; } /* '' */
.cus-credit-card:before { content: '\e88d'; } /* '' */
.cus-floppy:before { content: '\e88c'; } /* '' */
.cus-folder:before { content: '\e846'; } /* '' */
.cus-folder-open:before { content: '\e847'; } /* '' */
.cus-doc:before { content: '\e841'; } /* '' */
.cus-pin:before { content: '\e822'; } /* '' */
.cus-attach:before { content: '\e81e'; } /* '' */
.cus-upload:before { content: '\e82c'; } /* '' */
.cus-download:before { content: '\e82b'; } /* '' */
.cus-shuffle:before { content: '\e881'; } /* '' */
.cus-lock:before { content: '\e81f'; } /* '' */
.cus-lock-open:before { content: '\e820'; } /* '' */
.cus-link:before { content: '\e81b'; } /* '' */
.cus-wrench:before { content: '\e84c'; } /* '' */
.cus-block:before { content: '\e84f'; } /* '' */