<footer class="footer">
	<small>
		<a href="http://www.mcgill.ca/osd/"> McGill OSD </a>
		by OSD
	</small>
	<nav>
		<ul>
			<li>
				<%= link_to about_path, class: "icon-info-sign" do %>
					About
				<% end %>
			</li>
			<li>
				<%= link_to contact_path, class: "icon-envelope" do %>
					Contact
				<% end %>
			</li>
			<li><a href="http://www.mcgill.ca/osd/"> McGill OSD </a></li>
		</ul>
	</nav>
</footer>