<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "McGill EZ Notes", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to root_path, class: "cus-home" do %> 
							Home
						<% end %>
					</li>
					<li>
						<%= link_to help_path, class: "cus-help-circled" do %>
							Help
						<% end %>
					</li>
					<li>
						<%= link_to '#', class: "cus-user" do %>
							Sign in
						<% end %>						
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>